/** Global SCSS */

.has-code-editor {
    overflow: auto;
    height: 500px;

    pre {
      min-height: 500px;
      border: 1px solid lightgrey;

      .green-line {
        background-color: #E6FFED;
        position: absolute;
      }

      .red-line {
        background-color: #FFEEF0;
        position: absolute;
      }

    }
}


/** External CSS */
@import "~bulma/bulma";
